body {
  background-color: white;
}

$primary: #000000 !important;
$secondary: #ffffff !important;
$third: #cd000c !important;

// Toolbar
.toolbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 4px 20px 0px 20px !important;
  -webkit-backface-visibility: hidden;

  &-image {
    height: 80px;
    width: auto;
  }

  &-button {
    border-radius: 4px !important;
    height: 50%;
  }

  &-menu {
    margin-left: auto;
    margin-right: auto;
  }

  &-icon {
    margin-left: auto;
  }
}

.nav {
  z-index: 101;
  position: fixed;
  height: auto;
  width: 100%;
  top: 0 !important;
  left: 0;

  &-list {
    height: 100%
  }

  &-list__item {
    height: 25%
  }

  &-list__item--black {
    height: 25%;
    background-color: $primary;
  }
}

// EndToolbar
// StartHello

.button-social {

  &__facebook {
    background-color: white !important;
    color: black;
    ///*margin: 2vh 2vw 2vh 2vw*/
  }

  &__facebook:hover {
    background-color: #4267b2 !important;
    color: white;
  }

  &__linkedin {
    /*margin: 2vh 2vw 2vh 2vw;*/
    background-color: white !important;
    color: black;
    size: 200px;
  }

  &__linkedin:hover {
    background-color: #2977c9 !important;
    color: white;
  }

  &__github {
    /*margin: 2vh 2vw 2vh 2vw;*/
    background-color: white !important;
    color: black;
  }

  &__github:hover {
    background-color: white !important;
    /*transform: scale(1.5);*/
  }
}

.hello_section {
  position: relative;
  z-index: 1;
  background-color: black;
  margin-bottom: 200px;
}

.hello_section .hello_700 {
  min-height: 700px;
  border-radius: 12px;
  position: relative;
  bottom: -150px;
  width: 75%;
  background: #fafafa;
  padding: 30px;
  box-shadow: 0px 20px 80px 0px rgba(153, 153, 153, 0.3);
}

.hello_section .banner_inner {
  position: relative;
  width: 100%;
  min-height: 700px;
  display: flex;
}

.hello_section .banner_inner .banner_content {
  color: #222222;
  vertical-align: middle;
  align-self: center;
  text-align: left;
}

.hello_section .banner_inner .banner_content .media .d-flex {
  padding-right: 125px;
}

.hello_section .banner_inner .banner_content .media .hello_body {
  vertical-align: middle;
  align-self: center;
}


a {
  text-decoration: none !important;
}

.hello_body {
  vertical-align: middle;
  align-self: center;
  text-align: justify;
  padding-left: 10% !important;
  padding-right: 5% !important;
}

// EndHello
//.v-btn::after
//.v-btn:active
//.v-btn::selection
//.v-btn:focus {
//  vertical-align: middle;
//  align-self: center;
//}
//StartSkills
.sklis_body {
  font-size: 1.5rem;
  @media only screen and (max-width: 400px) {
    font-size: 1rem;
  }
  text-align: justify;
}

.profile_inner {
  border-bottom: 1px solid #eeeeee;
}

.profile_inner .personal_text {
  padding-left: 95px;
}

.personal_text h6 {
  @media only screen and (max-width: 400px) {
    margin-top: 5vh;
  }
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.1px;
  font-weight: normal;
  margin-bottom: 12px;
  color: #222222;
}

.personal_text h4 {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #222222;
}

.personal_text h3 {
  font-size: 3rem;
  @media only screen and (max-width: 600px) {
    font-size: 2rem;
  }
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #222222;
}

.personal_text p {
  font-family: "Roboto", sans-serif;
  max-width: 540px;
  color: #777777;
  margin-bottom: 40px;
}

.personal_text .hello_info li {
  margin-bottom: 15px;
}

.personal_text .hello_info li a {
  position: relative;
  padding-left: 40px;
  font-size: 1rem;
  @media only screen and (max-width: 400px) {
    font-size: 0.75rem;
  }
  color: #777777;
}

.personal_text .hello_info li a i {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.25rem;
  color: #ff1425;
}

.personal_text .hello_info li:last-child {
  margin-bottom: 0px;
}

.personal_text .personal_social {
  margin-top: 45px;
}

.personal_text .personal_social li {
  display: inline-block;
  margin-right: 7px;
}

.personal_text .personal_social li:last-child {
  margin-right: 0px;
}

.personal_text .personal_social li a {
  line-height: 40px;
  width: 40px;
  background: #e8e8e8;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 1rem;
}

.personal_text .personal_social li:hover a {
  background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
  background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
  background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

@import url("https://fonts.googleapis.com/css?family=Heebo:300,400,700,900|Roboto:300,400,500,700");
#button {
  outline: none !important;
}

.theme--light.v-timeline:before {
  background: white;
}

.gallery_f_inner {
  margin-bottom: -45px;
}

.g_img_item {
  width: 60%;
}

.h_gallery_item {
  //display: inline-block;
  margin-bottom: 45px;
}

.h_gallery_item .g_img_item {
  position: relative;
  overflow: hidden;
  left: 20%;
  //border-radius: 5px;
}

.h_gallery_item .g_img_item:before {
  content: "";
  width: 100% !important;
  height: 98.5%;
  left: 0px;
  top: 0px;
  background-color: rgba(119, 119, 119, 0.72);
  position: absolute;
  opacity: 0;
  transition: all 300ms ease;
}

.h_gallery_item .g_img_item .light {
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translateY(-50%);
  width: 60%;
  text-align: center;
  opacity: 0;
}

.h_gallery_item .g_item_text {
  text-align: center;
}

.h_gallery_item .g_item_text h4 {
  color: #ffffff;
  font-size: 1.3125rem;
  margin-top: 22px;
  //transition: all 300ms linear 0s;
}

.h_gallery_item .g_item_text p {
  margin-bottom: 0px;
  color: #eeeeee
}

.h_gallery_item:hover .g_img_item:before {
  opacity: .85;
}

.h_gallery_item:hover .g_img_item .light {
  opacity: 1;
}

.more_btn {
  text-align: center;
  margin-top: 80px;
}

.input-group--disabled.checkbox .input-group__input {
  color: #000 !important;
}

.contact-section {
  padding-right: 20%!important;
  padding-left: 20% !important;

  &__input {
    min-height: 80px
  }
}